snippet get "get" w
${1:this}.get('${VISUAL}$0')${2:;}
endsnippet

snippet set "set" w
${1:this}.set('${3:}', $0)${2:;}
endsnippet

snippet prop "computed property" w
${1:}: function(${2:key, value}) {
	$0
}.property('${3:}')${4:,}
endsnippet
