snippet fun "anonymous function" w
function(${1:}) {
  $0
}${2:,}
endsnippet

snippet if "if" b
if (${1:}) {
  `!p snip.rv = re.sub(r'\n', '\n  ', snip.v.text).strip()`$0
}
endsnippet

snippet ? "ternary" w
${1:} ? ${2:} : ${3:}${0:;}
endsnippet

snippet try "try/catch" b
try {
  ${1}
} catch(${2:error}) {
  $0
}
endsnippet

snippet log "console.log" b
console.log($0);
endsnippet

snippet deb "debugger" b
debugger;
endsnippet

snippet /** "documentation block" b
/**
 * $0
 */
endsnippet
