[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/less"]
	path = bundle/less
	url = https://github.com/groenewege/vim-less.git
[submodule "bundle/nerdtree-tabs"]
	path = bundle/nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "bundle/tcomment"]
	path = bundle/tcomment
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "bundle/trailing-whitespace"]
	path = bundle/trailing-whitespace
	url = https://github.com/bronson/vim-trailing-whitespace.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/coffee-script"]
	path = bundle/coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/colors-ir_black"]
	path = bundle/colors-ir_black
	url = https://github.com/twerth/ir_black
[submodule "bundle/colors-molokai"]
	path = bundle/colors-molokai
	url = https://github.com/tomasr/molokai
[submodule "bundle/colors-smyck"]
	path = bundle/colors-smyck
	url = https://github.com/slindberg/vim-colors-smyck
[submodule "bundle/colors-solarized"]
	path = bundle/colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "bundle/ruby"]
	path = bundle/ruby
	url = git@github.com:vim-ruby/vim-ruby.git
[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule "bundle/matchtag"]
	path = bundle/matchtag
	url = git@github.com:gregsexton/MatchTag.git
[submodule "bundle/html5"]
	path = bundle/html5
	url = git@github.com:othree/html5.vim.git
[submodule "bundle/css3"]
	path = bundle/css3
	url = git@github.com:mutewinter/vim-css3-syntax.git
[submodule "bundle/sideways"]
	path = bundle/sideways
	url = git@github.com:AndrewRadev/sideways.vim.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = git@github.com:tpope/vim-surround.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = git@github.com:tpope/vim-repeat.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git@github.com:godlygeek/tabular.git
[submodule "bundle/delimitmate"]
	path = bundle/delimitmate
	url = git@github.com:Raimondi/delimitMate.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git@github.com:ervandew/supertab.git
[submodule "bundle/closetag"]
	path = bundle/closetag
	url = git@github.com:vim-scripts/closetag.vim.git
[submodule "bundle/golang"]
	path = bundle/golang
	url = git@github.com:jnwhiteh/vim-golang.git
[submodule "bundle/camelcasemotion"]
	path = bundle/camelcasemotion
	url = git@github.com:bkad/CamelCaseMotion.git
[submodule "bundle/colors-tomorrow"]
	path = bundle/colors-tomorrow
	url = git@github.com:d11wtq/tomorrow-theme-vim.git
[submodule "bundle/javascript"]
	path = bundle/javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "bundle/handlebars"]
	path = bundle/handlebars
	url = git@github.com:nono/vim-handlebars.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = git@github.com:SirVer/ultisnips.git
[submodule "bundle/highlight-cursor-words"]
	path = bundle/highlight-cursor-words
	url = git@github.com:OrelSokolov/HiCursorWords.git
[submodule "bundle/operator-camelize"]
	path = bundle/operator-camelize
	url = git@github.com:tyru/operator-camelize.vim.git
  ignore = untracked
[submodule "bundle/operator-user"]
	path = bundle/operator-user
	url = git@github.com:kana/vim-operator-user.git
  ignore = untracked
[submodule "bundle/airline"]
	path = bundle/airline
	url = git@github.com:bling/vim-airline.git
